html, body{
	font-family: georgia, serif;
	margin:0;
	background-color: lightsteelblue;
}

header{
	background-color: #3d0099;
	padding-top: 70px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right:40px;
	background-image: url('../img/pixel-image-100.jpg');
	background-repeat: repeat;
}

h1{
	font-size: 124px;
	color: white;
	text-align: center;
	padding-bottom: 5px
}

h2{
	padding-bottom: 28px;
	padding-top: 28px;
}
}
header img{
	font-size: 90px;
	color: white;
}

header img{
	border-left:150px;
	border-right: 150px;
	border-bottom: 150px;
	border-top: 150px;
	width: 25em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
}

.content{
	max-width: 611px;
	margin: 54px auto;
	padding: 0 20px;
}

big-image.jpg{

}


p.caption{
	font-size: 16px;
	color: grey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: indigo;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: initial;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}